pkgbase = shovel-git
	pkgdesc = Fast native desktop database client built with Rust and Dioxus
	pkgver = 0.1.0.r0.g0000000
	pkgrel = 2
	url = https://github.com/Fynth/shovel
	arch = x86_64
	license = unknown
	makedepends = git
	makedepends = pkgconf
	makedepends = rust
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = xdotool
	provides = shovel
	conflicts = shovel
	options = !debug
	options = !lto
	source = shovel::git+https://github.com/Fynth/shovel.git
	sha256sums = SKIP

pkgname = shovel-git
