[Desktop Entry]
Type=Application
Name=Shovel
Comment=Fast native desktop database client
Exec=shovel
Icon=dev.shovel.app
Terminal=false
Categories=Development;Database;
StartupWMClass=Shovel
