[Desktop Entry]
Type=Application
Name=Shovel
Comment=Fast native desktop database client
Exec=shovel
Icon=shovel
Terminal=false
Categories=Development;Database;
StartupWMClass=Shovel
